---
import Nav from "../components/Nav";
import faviconSvgSrc from '../../public/favicon.svg'
import { getImage } from 'astro:assets'

const { title } = Astro.props;
const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' })
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="God of War video game introduction."/>
    <meta title={title} />
    <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
	</head>
	<body>
		<main class="flex flex-col items-center">
      <header class="w-full shadow-lg bg-white relative z-20">
        <Nav client:only/>
      </header>
			<slot />
		</main>
	</body>
</html>
